*{
margin: 0;
padding: 0;
background-color: #83a6aa;
}
 
.cabecalho-imagem{
  background-color: #150f68;
  width: 10%;
}

.cabecalho-logo{
  background-color: #150f68;
  color: aliceblue;
}

.cabecalho{
     background-color: #150f68;
     
         display: flex;
        justify-content: space-between; 
      align-items: center;
      padding: 10px;
      width: 110%;
    }

      .itenspalavra-1{
        color: aliceblue;
      }

    .itenspalavra{
      color: aliceblue;
        display: inline-block;
        margin: 0 16px;
        font-size: 20px;  }

      .lista-foto{
        margin: 10px;
        height: 10%;
        padding-left: 20%;
      flex: 20%;
      }


