*{
margin: 0;
padding: 0;
background-color: #83a6aa;
}

.cabecalho{
     
        color: black;
         display: flex;
        justify-content: space-between; 
      align-items: center;
      padding: 10px;
      width: 110%;
    }

.acxotituloo{

  width: 9%; 
}

.cabecalho-imagem{
 width: 10%;
  }
    
    .cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
font-size: 20px;
    }
    .itenspalavra{
        display: inline-block;
        margin: 0 16px;
        font-size: 20px;  }
      


